langchain
langchain-google-genai
langchain-community
langchain-text-splitters
google-generativeai
faiss-cpu
pypdf
fastapi
uvicorn
streamlit
python-dotenv
requests
prometheus-fastapi-instrumentator==8.1.0
